[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "highDmean"]
	path = highDmean
	url = https://github.com/cran/highDmean
[submodule "tcftt"]
	path = tcftt
	url = https://github.com/huaiyuzhang/tcftt
